
body {
	overflow:hidden;
}

h1 {
	color: #5a4b42;
}

h2 {
	color: #5a4b42;
}

h3 {
	color: #5a4b42;
}

h4 {
	color: #5a4b42;
}

h5 {
	color: #5a4b42;
}

.btn  {
	color: #5a4b42;
	background-color: #f3f3f3;
	border: 1px solid #5a4b42;
}


.btn:hover  {
	color: #f3f3f3 ;
	background-color: #5a4b42;
	border: 1px solid #5a4b42;
}


.content {
	overflow-x: hidden;
	max-height: 90vh;
}

.left-menu {
	height: 100vh;
	background-color: #f3f3f3;
	color: #5a4b42;
	/* display: flex;
  	justify-content: center;
  	align-content: space-between;
  	align-items: center;
  	flex-direction: column; */
  	box-shadow: 0 0 10px 5px rgba(44, 47, 55, .3);
}

.left-menu h4 {
	width: 100%;
	background-color: #2c2f37;	
	text-transform: uppercase;
	padding: 15px
}

.left-menu ul {
	margin-top: 30px;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.left-menu ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 100%;
	display: block;
	font-size: 18px;
	text-align: left;
}


.left-menu ul li i {
	display: inline-block;
	margin-right: 8px;
}

.left-menu ul li a{
	display: inline-block;
	color: #5a4b42;
	border: none;
	width: 100%;
	padding: 10px 18px;
	text-decoration: none;
}

.left-menu ul li a:link {
  color: #5a4b42; 
  border: none;
    text-decoration: none;
}
.left-menu ul li a:visited {
   color: #5a4b42; 
  border: none;
    text-decoration: none;
}
.left-menu ul li a:hover {
  color: #5a4b42; 
  border-bottom: none;
    text-decoration: none;
}
.left-menu ul li a:active {
    color: #5a4b42; 
  border: none;
    text-decoration: none;
}

.left-menu ul li:hover {
	background-color: #cecfcf;
	  text-decoration: none;
}

.image{
	margin-botom: 10px;
}

.image img {
	width: 100%;
	margin: 0 auto;
}

.textinfo {

	vertical-align: bottom;
	font-size: 18px;
}

.textinfo p span{
	font-weigth: bold;
	color: #353942;
	margin: 0 10px 0 0;
}


.desc {
	margin: 10px; !impotant;
}


.ahref {
	margin:10px;
}

label {
	margin-top: 8px;
}


